* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #000 url("../images/bb.jpg");
  font-family: "Open Sans", Sans-serif;
  background-size: cover;
  background-attachment: fixed; }

.page-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

::-moz-selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none; }

::selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none; }

header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header .header-wrapper-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 35px; }
    header .header-wrapper-text .text {
      border: 4px solid #F18F01;
      opacity: 0.9;
      border-radius: 0;
      display: inline-block;
      text-align: center;
      padding: 20px 60px; }
      header .header-wrapper-text .text h1, header .header-wrapper-text .text h2 {
        color: #F18F01;
        font-weight: 300;
        margin: 0; }
        header .header-wrapper-text .text h1 .name, header .header-wrapper-text .text h2 .name {
          margin-bottom: 10px;
          font-size: 45px;
          line-height: 45px; }
        header .header-wrapper-text .text h1 .profession, header .header-wrapper-text .text h2 .profession {
          font-size: 20px;
          line-height: 20px; }
  header .menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px; }
    header .menu a:hover {
      text-decoration: underline; }

.main {
  background: #fff;
  padding: 20px;
  width: 75%; }
  .main article .line {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  .main article p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 27px;
    text-align: justify; }
  .main article h2 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    text-align: center; }
  .main article .thumb {
    height: 220px;
    background: url("../images/f2.jpg");
    background-size: 100% 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px; }
    .main article .thumb i {
      color: #000500;
      text-decoration: none;
      display: block;
      padding: 25px 5px;
      margin: 25px 0;
      opacity: 0.4; }
    .main article .thumb h3 {
      color: #000500;
      font-weight: 600;
      font-size: 18px;
      display: block;
      padding: 25px 5px;
      margin: 25px 0;
      opacity: 0.4; }

aside {
  width: 25%;
  background: #F18F01;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  aside .ad {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000;
    padding: 10px 0; }
    aside .ad ul {
      list-style: none;
      padding: 2px;
      font-size: 14px; }
      aside .ad ul li {
        display: inline-block;
        line-height: 30px; }
        aside .ad ul li a {
          color: #000;
          display: block;
          padding: 0px 15px;
          font-weight: bold; }
          aside .ad ul li a:hover {
            opacity: 0.5; }
  aside .photo {
    width: 100%; }
    aside .photo img {
      vertical-align: top;
      border-radius: 50%;
      border: 5px solid black;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  aside .target img {
    vertical-align: top;
    border-radius: 50%; }
    aside .target img:hover {
      opacity: 0.5; }

footer {
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 100%;
  color: #F18F01;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center; }

@media screen and (max-width: 800px) {
  .main {
    width: 100%; }

  aside {
    width: 100%;
    flex-direction: row; }
    aside .ad {
      width: 40%; } }
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding-bottom: 20px; }
    header .menu {
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      text-align: center;
      padding: 20px; }
      header .menu a {
        margin: 0 20px; }
    header .logo {
      margin-bottom: 20px; }

  footer {
    flex-direction: column;
    text-align: center; }
    footer .copy-right {
      order: 2; }
    footer .redes-sociales {
      order: 1;
      margin-bottom: 20px; } }
@media screen and (max-width: 400px) {
  aside {
    display: none; } }

/*# sourceMappingURL=main.css.map */
