*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0

body
	background: #000 url('../images/bb.jpg')
	font-family: "Open Sans", Sans-serif
	background-size: cover
	background-attachment: fixed

.page-wrapper
	width: 90%
	max-width: 1000px
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap

::-moz-selection
	background: rgba(51,51,51,.8)
	color: #fff
	text-shadow: none

::selection
	background: rgba(51,51,51,.8)
	color: #fff
	text-shadow: none
