// FOOTER STYLES

footer
	margin: 20px 0
	background: rgba(255, 255, 255, .1)
	padding: 20px
	width: 100%
	color: #F18F01
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: center
