// HEADER STYLES

header
	width: 100%
	padding: 10px 0
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	.header-wrapper-text
		display: flex
		justify-content: center
		align-content: center
		margin: 35px
		.text
			border: 4px solid #F18F01
			opacity: 0.9
			border-radius: 0
			display: inline-block
			text-align: center
			padding: 20px 60px
			h1, h2
				color: #F18F01
				font-weight: 300
				margin: 0
				.name
					margin-bottom: 10px
					font-size: 45px
					line-height: 45px
				.profession
					font-size: 20px
					line-height: 20px
	.menu
		a
			color: #fff
			text-decoration: none
			margin-right: 40px
			font-size: 18px
			&:hover
				text-decoration: underline