// MAIN STYLES

.main
	background: #fff
	padding: 20px
	width: 75%
	article
		.line
			border-bottom: 2px solid #000
			padding-bottom: 5px
			margin-bottom: 5px
		p
			margin-bottom: 20px
			font-size: 16px
			line-height: 27px
			text-align: justify
		h2
			margin-bottom: 5px
			font-weight: 600
			font-size: 24px
			text-align: center
		.thumb
			height: 220px
			background: url('../images/f2.jpg')
			background-size: 100% 100%
			margin-bottom: 15px
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: center
			padding: 30px
			i
				color: #000500
				text-decoration: none
				display: block
				padding: 25px 5px
				margin: 25px 0
				opacity: 0.4
			h3
				color: #000500
				font-weight: 600
				font-size: 18px
				display: block
				padding: 25px 5px
				margin: 25px 0
				opacity: 0.4
aside
	width: 25%
	background: #F18F01
	padding: 25px
	display: flex
	flex-direction: column
	flex-wrap: wrap
	justify-content: space-between
	.ad
		font-size: 20px
		font-weight: 600
		text-align: center
		color: #000
		padding: 10px 0
		ul
			list-style: none
			padding: 2px
			font-size: 14px
			li
				display: inline-block
				line-height: 30px
				a
					color: #000
					display: block
					padding: 0px 15px
					font-weight: bold
					&:hover
						opacity: 0.5
	.photo
		width: 100%
		img
			vertical-align: top
			border-radius: 50%
			border: 5px solid rgb(0, 0, 0)
			box-shadow: 0 5px 10px rgba(0,0,0,.5)
	.target
		img
			vertical-align: top
			border-radius: 50%
			&:hover
				opacity: 0.5
		


