// MEDIA QUERIES

@media screen and (max-width: 800px)
	.main
		width: 100%
	aside
		width: 100%
		flex-direction: row
		.ad
			width: 40%

@media screen and (max-width: 600px)
	header
		flex-direction: column
		padding-bottom: 20px
		.menu
			width: 100%
			background: rgba(255, 255, 255, .2)
			text-align: center
			padding: 20px
			a
				margin: 0 20px
		.logo
			margin-bottom: 20px
	footer
		flex-direction: column
		text-align: center
		.copy-right
			order: 2
		.redes-sociales
			order: 1
			margin-bottom: 20px

@media screen and (max-width: 400px)
	aside
		display: none
		

	